{% extends 'core/base.html' %}
{% block content %}
<h2 class="main_h2">
  List of assets, and their historical prices
</h2>
{% if assets %}
<ul class="wallet-assets">
{% for asset in assets %}
  <li>
    <a href="{% url 'historic_price' asset.symbol %}">
      {{ asset.name }} ({{ asset.symbol }})
    </a>
    <a href="{% url 'add_price_alert' asset.id %}">add alert</a>
  </li>
{% endfor %}
</ul>
{% else %}
<h2 class="main_h2">No assets to show</h2>
{% endif %}
<p class="form-link-comeback">
<a href="{% url 'profile' %}">back to profile</a>
</p>
{% endblock %}
