{% extends 'core/base.html' %}
{% block content %}
  <h3 class="main_h2" style="font-size: 30px;">Your friends list</h3>
  {% if friends %}
    <ul class="wallet-assets">
      {% for friend in friends %}
        <li style="font-size: 30px;">
          {{ friend.username }}
          <p class="form-link-comeback">
            <a href="{% url 'remove_friend' friend.id %}">Remove</a>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h2 class="main_h2">Your friend list is empty</h2>
  {% endif %}

  <h3 class="main_h2" style="font-size: 30px;">Friend requests</h3>
  {% if friend_requests %}
    <ul class="wallet-assets">
      {% for request in friend_requests %}
        <li>
          {{ request.sender.username }}
          <p class="form-link-comeback">
            <a href="{% url 'accept_friend_request' request.id %}">Accept</a> |
            <a href="{% url 'decline_friend_request' request.id %}">Decline</a>
          </p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="form-link-comeback">There is no new friend requests</p>
  {% endif %}

  <h3 class="main_h2" style="font-size: 30px;">Send friend request</h3>
  <div class="form-container">
    <form method="get" action="">
      <input type="text" name="q" placeholder="Username...">
      <button type="submit" class="btn">Search</button>
    </form>
  </div>

  {% if users %}
    <ul class="wallet-assets">
      {% for u in users %}
        {% if u != request.user %}
          <li>
            {{ u.username }}
            <p class="form-link-comeback">
              <a href="{% url 'send_friend_request' u.id %}">Send a request</a>
              <br><br>
            </p>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}

  <p class="form-link-comeback">
    <a href="{% url 'profile' %}">Back to the profile</a>
  </p>
{% endblock %}
