{% extends 'core/base.html' %}
{% block title %}Groups{% endblock %}

{% block content %}
  <h2 class="main_h2">Groups</h2>

  {% if groups %}
    <ul class="wallet-assets">
      {% for group in groups %}
        <li class="group-card">
          <a href="{% url 'group_detail' group.id %}">
            <strong>{{ group.name }}</strong>
          </a>
          <div>
            <span>Status: 
              {% if group.is_purchase_active %}
                <b>active</b>
              {% else %}
                <b>closed</b>
              {% endif %}
            </span>
          </div>
          <div>
            <small>{{ group.purchase_status }}</small>
          </div>
          <div>
            <small>{{ group.summary_status }}</small>
          </div>
          <div>
            <small>{{ group.member_count }} members</small>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <h2 class="main_h2">There are no groups</h2>
  {% endif %}

  <p class="form-link-comeback">
    <a href="{% url 'group_create' %}">Create a new group</a>
  </p>

  <p class="form-link-comeback">
    <a href="{% url 'profile' %}">Back to profile</a>
  </p>
{% endblock %}
