{% block content %}
  <p>actual prices</p>

  <form method="get" action="">
    <label for="currency">Choose currency:</label>
    <select name="currency" id="currency" onchange="this.form.submit()">
      {% for c in currencies %}
        <option value="{{ c }}" {% if c == currency %}selected{% endif %}>{{ c|upper }}</option>
      {% endfor %}
    </select>
  </form>

  {% if prices %}
    <ul>
      {% for price in prices %}
        <li>
          name: {{ price.name }}<br>
          symbol: {{ price.symbol }}<br>
          current price: {{ price.converted_price }} {{ currency|upper }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>no prices</p>
  {% endif %}

  <p><a href="{% url 'profile' %}">come back</a></p>
{% endblock %}
