{% extends 'core/base.html' %}
{% block content %}
  <h2 class="main_h2">Hey, {{ user.username }}!</h2>

  <ul class="profile">
    <li><a href="{% url 'wallet_list' %}">Check your wallets</a></li>
    <li><a href="{% url 'shared_wallets' %}">Shared wallets</a></li>
    <li><a href="{% url 'price' %}">Check prices</a></li>
    <li><a href="{% url 'trends' %}">Check actual trends</a></li>
    <li><a href="{% url 'asset_list' %}">Check historical prices</a></li>
    <li><a href="{% url 'friends_list' %}">Friends</a></li>
    <li><a href="{% url 'group_list' %}">Groups</a></li>
    <li><a href="{% url 'user_goals' %}">My goals</a></li>
    <li><a href="{% url 'my_alerts' %}">My alerts</a></li>


  </ul>
  <div class="form-link">
  <a href="{% url 'home' %}">Log out</a>
  </div>
{% endblock %}
