{% extends 'core/base.html' %}
{% block content %}
  <h2 class="main_h2">Hey, {{ user.username }}!</h2>

  <ul class="profile">
    <li><a href="{% url 'wallet_list' %}">check your wallets</a></li>
    <li><a href="{% url 'shared_wallets' %}">shared wallets</a></li>
    <li><a href="{% url 'price' %}">check prices</a></li>
    <li><a href="{% url 'trends' %}">check actual trends</a></li>
    <li><a href="{% url 'asset_list' %}">check historical prices</a></li>
    <li><a href="{% url 'friends_list' %}">friends</a></li>
    <li><a href="{% url 'groups' %}">groups</a></li>
    <li><a href="{% url 'user_goals' %}">my goals</a></li>
    <li><a href="{% url 'my_alerts' %}">my alerts</a></li>


  </ul>
  <div class="form-link">
  <a href="{% url 'home' %}">log out</a>
  </div>
{% endblock %}
