{% extends 'core/base.html' %}
{% block content %}
  <h2 class="main_h2">wallets shared to You</h2>
  {% if shared_wallets %}
    <ul class="wallet-assets">
      {% for wallet in shared_wallets %}
        <li>
          <a href="{% url 'shared_wallet_detail' wallet.id %}">{{ wallet.name }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
     <h2 class="main_h2">No wallets are shared to You</h2>
  {% endif %}

  <p class="form-link-comeback"><a href="{% url 'wallet_list' %}">Go to Your wallets</a></p>
    <p class="form-link-comeback">
    <a href="{% url 'profile' %}">Back to the profile</a>
  </p>
{% endblock %}
