{% extends 'core/base.html' %}
{% block content %}
  <h2 class="main_h2">Shared wallet: {{ wallet.name }}</h2>
  <div class="form-container">
    <form method="post">
      {% csrf_token %}
      <label for="friend">Choose friend to share:</label>
      <select name="friend_id" id="friend" required>
        {% for friend in friends %}
          <option value="{{ friend.id }}">{{ friend.username }}</option>
        {% empty %}
          <option disabled>You have no friends to share</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn">Share</button>
    </form>
  </div>
  <p class="form-link-comeback">
    <a href="{% url 'wallet_detail' wallet.id %}">Come back to wallet</a>
  </p>
{% endblock %}
