{% extends 'core/base.html' %}
{% block content %}
  <h2 class="main_h2">Wallet: {{ wallet.name }} (shared with you)</h2>

  {% if wallet_assets %}
    <ul class="wallet-assets">
      {% for wa in wallet_assets %}
        <li>
          {{ wa.asset.name }}<br>
          Quantity: {{ wa.quantity }}<br>
          Purchase price: {{ wa.purchase_price }} $<br>
          Current price: {{ wa.current_price }} $
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>This wallet has no assets</p>
  {% endif %}
  <p style="text-align: center; font-weight: bold;">
    Total value: {{ total_value|floatformat:2 }} $
  </p>


  <p class="form-link-comeback">
    <a href="{% url 'shared_wallets' %}">Back to wallets</a>
  </p>
{% endblock %}
