{% extends 'core/base.html' %}
{% block content %}
  <h2 class="main_h2">My goals</h2>

  <p class="form-link-comeback">
    <a href="{% url 'add_user_goal' %}">Add new goal</a>
  </p>

  {% if goals %}
    <ul class="wallet-assets">
      {% for goal in goals %}
        <li>
          <strong>{{ goal.name }}</strong> <br>   goal value: {{ goal.current_amount }} $ /   actual value of the wallet: {{ goal.target_amount }} $
          ({{ goal.progress_percentage|floatformat:0 }}%)
          {% if goal.deadline %}<br>Deadline: {{ goal.deadline }}{% endif %}

          <form method="post" action="{% url 'delete_user_goal' goal.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p style="text-align: center;">You have no goals</p>
  {% endif %}

  <p class="form-link-comeback">
    <a href="{% url 'profile' %}">Back to profile</a>
  </p>
{% endblock %}
