{% block content %}
  <h2>Wallet: {{ wallet.name }}</h2>

  <form method="get" action="">
    <label for="currency">Choose currency:</label>
    <select name="currency" id="currency" onchange="this.form.submit()">
      {% for c in currencies %}
        <option value="{{ c }}" {% if c == currency %}selected{% endif %}>{{ c|upper }}</option>
      {% endfor %}
    </select>
  </form>

  <p>total purchase price of all assets in this wallet: {{ total_purchase|floatformat:2 }} {{ currency|upper }}</p>
  <p>total actual price of all assets in this wallet: {{ total_value|floatformat:2 }} {{ currency|upper }}</p>
  <p>balance: {{ total_difference|floatformat:2 }} {{ currency|upper }} 
     ({{ difference_in_percentage|floatformat:2 }}%)</p>

  <a href="{% url 'add_wallet_asset' wallet.id %}">add asset</a>

  {% if wallet_assets %}
    <ul>
      {% for wa in wallet_assets %}
        {% ifchanged wa.asset.id %}
          <li>
            <a href="{% url 'wallet_asset_detail' wallet.id wa.asset.id %}">
              {{ wa.asset.name }} ({{ wa.asset.symbol }})
            </a>
          </li>
        {% endifchanged %}
      {% endfor %}
    </ul>
  {% else %}
    <p>this wallet has no assets yet</p>
  {% endif %}
  <p>
  <a href="{% url 'share_wallet' wallet.id %}">share wallet</a>
  </p>


  <p><a href="{% url 'wallet_list' %}">back to wallet list</a></p>
{% endblock %}
