{% block content %}
<h2>{{ asset.name }} transactions in {{ wallet.name }}</h2>
<p>actual price: {{ current_price }} </p>

<p>Total purchase price for this asset in this wallet: {{ asset_total_purchase_value|floatformat:2 }} </p>
<p>Total actual price for assets in this wallet: {{ total_value_transactions|floatformat:2 }} </p>
<p>balance {{ total_difference|floatformat:2 }}, in percentage {{total_difference_percentage| floatformat:2 }}%</p>

{% if transactions %}
    <ul>
        {% for tx in transactions %}
            <li>
                quantity: {{ tx.quantity }} bought for: {{ tx.purchase_price }} on {{ tx.purchase_date }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No transactions for this asset in this wallet.</p>
{% endif %}

<p><a href="{% url 'wallet_detail' wallet.id %}">back to wallet</a></p>
{% endblock %}
