{% block content %}
<h2>{{ asset.name }} transactions in {{ wallet.name }}</h2>

<form method="get" action="">
    <label for="currency">Choose currency:</label>
    <select name="currency" id="currency" onchange="this.form.submit()">
      {% for c in currencies %}
        <option value="{{ c }}" {% if c == currency %}selected{% endif %}>{{ c|upper }}</option>
      {% endfor %}
    </select>
</form>


<p>Total purchase price for this asset: {{ asset_total_purchase_value|floatformat:2 }} {{ currency|upper }}</p>
<p>Total actual value of assets: {{ total_value_transactions|floatformat:2 }} {{ currency|upper }}</p>
<p>balance: {{ total_difference|floatformat:2 }} {{ currency|upper }},
   in percentage: {{ total_difference_percentage|floatformat:2 }}%</p>

{% if transactions %}
    <ul>
        {% for tx in transactions %}
            <li>
                Quantity: {{ tx.quantity }} bought for: 
                {{ tx.purchase_price|floatformat:2 }} $
                on {{ tx.purchase_date }}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No transactions for this asset in this wallet.</p>
{% endif %}

<p><a href="{% url 'wallet_detail' wallet.id %}">Back to wallet</a></p>
{% endblock %}
