.main_menu{
    list-style:none;
    display:flex;
    gap: 30px;
    justify-content: center;
    margin-top: 100px;

}
.main_menu li a{
    text-decoration: none;
    background: #333;
    color:white;
    border-radius:5px;
    padding: 15px 30px;
    font-size: 30px;
    font-weight: bold;
}

.main_h2{
    justify-content: center;
}
.main_h2{
    text-align: center;
    font-size: 40px;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 50px;
}

.form-container{
    max-width: 450px;
    margin: auto auto;
    padding: 30px 30px;
    background-color: #f9f9f9;
    border-radius: 10px;

}


.form-container input{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn{
    background-color: #333;
    color:white;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px;
    width: 100%;
    margin-top: 10px;
}
.btn:hover{
    background-color: black;
}
.form-link{
    text-align: center;
}
.form-link a{
    text-decoration: none;
    color: white;
}
.form-link a:hover{
    color: #555;
}
